[submodule "RIP"]
	path = RIP
	url = https://github.com/MegatronJeremy/RIP
[submodule "RG2"]
	path = RG2
	url = https://github.com/MegatronJeremy/RG2
[submodule "GI"]
	path = GI
	url = https://github.com/MegatronJeremy/GI
[submodule "PSZ"]
	path = PSZ
	url = https://github.com/MegatronJeremy/PSZ
