[submodule "GI/gi-2026-etf"]
	path = GI/gi-2026-etf
	url = https://github.com/vladimirkovacevic/gi-2026-etf
[submodule "GI/ANOA-ANO"]
	path = GI/ANOA-ANO
	url = https://github.com/MegatronJeremy/ANOA-ANO
[submodule "PSZ/Sea-Of-Sorrow"]
	path = PSZ/Sea-Of-Sorrow
	url = https://github.com/MegatronJeremy/Sea-Of-Sorrow
[submodule "RIP"]
	path = RIP
	url = https://github.com/MegatronJeremy/RIP
[submodule "RG2/Snowstorm-Engine"]
	path = RG2/Snowstorm-Engine
	url = https://github.com/MegatronJeremy/Snowstorm-Engine
